$palettes: (
  peach: (
    base: #edb886,
    dark: #8e6e50,
  ),
  pineapple: (
    base: #ffe498,
    dark: #99895b,
  ),
  camel: (
    base: #b9a58d,
    dark: #6f6355,
  ),
);

@function color($color, $tone) {
  $palette: map-get($palettes, $color);

  @if map-has-key($palettes, $color) {
    $value: map-get($palette, $tone);

    @if $value {
      @return $value;
    }

    @warn "Unknown tone `#{$tone}` in color";
  }

  @warn "Unknown color `#{$color}` in palette";
  @return null;
}

// background-color: color(camel, base);

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  margin-left: 64px;
  margin-top: 64px;
	padding: 24px;
}